@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">
        <img src="~/images/bemvindo2.png" alt="Home" class="img-fluid" width=700>
    </h1>
</div>
