@model Domain.Entities.Receita

@{
    ViewData["Title"] = "Editar";
}

<h4>Editar</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ImagemUri" />
            <div class="form-group">
                <label asp-for="ImagemUri" class="control-label"></label>
                <br />
                <img src="@Model.ImagemUri" width=100 />
                <input type="file" accept="image/*" asp-for="ImagemUri" class="form-control" />
                <span asp-validation-for="ImagemUri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Origem" class="control-label"></label>
                <input asp-for="Origem" class="form-control" />
                <span asp-validation-for="Origem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempoPreparo" class="control-label"></label>
                <input asp-for="TempoPreparo" class="form-control" />
                <span asp-validation-for="TempoPreparo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NivelDificuldade" class="control-label"></label>
                <input asp-for="NivelDificuldade" class="form-control" />
                <span asp-validation-for="NivelDificuldade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar ao início</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
