@model IEnumerable<Domain.Entities.Post>

@{
    ViewData["Title"] = "Início";
}
<h3>🗨 Postagens</h3>
<br/>
<p>
    <a asp-action="Create">Criar nova postagem</a>
</p>
<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>
                Texto
            </th>
            <th>
                Criado por
            </th>
            <th>
                Data de criação
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Texto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profile.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
